.container {
    background-color: rgb(228, 228, 228);
}

.container-single{
    padding: 5px;
    background-color: rgb(223, 223, 223);
    border-bottom: 2px solid green;
}

.contact-detail {
    padding: 0px;
    margin: 0px;
}

.contact-detail p{
    text-align: center;
}

.contact-name{
    padding: 0px;
    margin: 0px;
    color: rgb(5, 55, 109);
    font-size: 18px;
    font-weight: 700;
}

.contact-number{
    padding: 0px;
    margin: 0px;
    color: rgb(45, 65, 87);
    font-size: 14px;
    font-weight: 700;
}